.login-container {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-evenly;
    align-content: center;
    min-height: 88vh;
    background-image: url('../../images/adorable-white-bulldog-puppy-portrait.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-color:#DCDBD6;
    margin-top: 72px;
}

@media (min-width: 350px) and (max-width: 990px) {
    .login-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
        min-height: 90vh;
    }
    
    .login-container {
        min-height: 87vh;
    }
}