.login-container {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-evenly;
    align-content: center;
    min-height: 90vh;
    background-image: url('../../images/adorable-white-bulldog-puppy-portrait.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-color:#DCDBD6;
}