.pets-container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-items: center;
}

.card {
	box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.56);
	background-color: #e7a61a;
	border-radius: 18px 18px 18px 18px;
}