.pets-container {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	background-color:#DCDBD6;
	min-width: 100%;
	min-height: 87vh;
}

.title-pets {
	margin-top: 15px;
}

.pets-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 15px;
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}
.card-title {
	padding: 0;
	margin: 0;
}

@media (min-width: 350px) and (max-width: 990px) {
	.pets-container {
		flex-direction: column !important;
	}

	.pets-list {
		flex-direction: column;
	}
}

