.newpet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 88vh;
    min-width: 100%;
    background-image: url('../../images/the-red-or-white-cat-i-on-white-studio-removebg-preview.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    background-color: #EED4CD;
    margin-top: 72px;
    margin-bottom: 24px;
}

@media (min-width: 350px) and (max-width: 990px) {
    .newpet-container {
        background-image: none;
    }
}