.newpet-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    min-height: 89vh;
    min-width: 100%;
    position: absolute;
    background-image: url('../../images/mulher-com-poodle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}