.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 40rem;
}

.signup-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 88vh;
    min-width: 100%;
    background-image: url('../../images/portrait-of-lovely-dog-looking-away.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-color: #ECAE54;
    background-position: left;
    margin-top: 72px;
}

.title {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 350px) and (max-width: 990px) {
    .cards {
        flex-direction: column;
        width: 20rem;
        min-height: 55vh;
        justify-content: space-between;
    }

    .signup-container {
        background-image: none;
    }
}