.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.signup-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 90vh;
    min-width: 100%;
    position: absolute;
    background-image: url('../../images/portrait-of-lovely-dog-looking-away.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-color: #EFB158;
    background-position: left;
}