footer {
  background-color: #86b8b1;
}

.btn {
  background-color: #fcebb6;
  font-size: 2rem;
}

.card {
    padding: 5px;
    box-shadow: -2px 0px 11px 0px rgba(42,42,42,.55);
    border-radius: 18px 18px 18px 18px;
}

.btn-new-pet {
  font-size: 1.5rem;
}
