.card-signup {
    box-shadow: inset 0px 0px 25px 3px rgba(0,0,0,0.56);
	border-radius: 18px 18px 18px 18px;
    background-color: rgba(249, 253, 255, 0.5);
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}