.myprofile-container-ong {
    display: flex;
    min-height: 88vh;
    min-width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color:#DCDBD6;
    margin-top: 72px;
}

.hello-and-image {
    min-height: 40vh;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    font-size: 1.7rem;
    color: black;
    border: 1px solid #fcebb6;
    background-color: rgba(249, 253, 255, 0.5);
    padding: 15px;
    border-radius: 18px 18px 18px 18px;
    box-shadow: -2px 0px 11px 0px rgba(42,42,42,.55);
    width: 15rem;
    background-color: #fcebb6;
    margin: 10px;
}

@media (min-width: 350px) and (max-width: 990px) {
    .myprofile-container-ong {
        flex-direction: column;
        margin-bottom: 24px;
    }

    .profile-img {
        width: 150px !important;
    }

    .link {
        font-size: 1.2rem !important;
        padding: 10px !important;
        width: 12rem !important;
        margin: 5px !important;
    }
}